<form action="{{ formAction }}" method="POST" class="form-horizontal">
    <input type="hidden" name="token" value="{{ csrf_token("speaker_talk") }}">
    <input type="hidden" name="token_id" value="speaker_talk">
    {% if id is defined %}
        <input name="id" type="hidden" value="{{ id }}">
    {% endif %}

    <label for="form-talk-title"><span class="text-red-dark font-bold" aria-hidden="true">*</span> Talk Title</label>
    <input id="form-talk-title" type="text" name="title" placeholder="Talk Title" value="{{ title }}" maxlength="100" required>

    <p>The fields below support <a href="https://daringfireball.net/projects/markdown/basics" target="_blank" class="text-underline" rel="noopener noreferrer">markdown.</a></p>

    <label for="form-talk-description"><span class="text-red-dark font-bold" aria-hidden="true">*</span> Description/Abstract</label>
    <textarea id="form-talk-description" name="description" placeholder="Give a description of your talk (Abstract)" rows="10" required aria-describedby="form-talk-description-help">{{ description }}</textarea>

    <label for="form-talk-other">Additional Talk Information</label>
    <textarea id="form-talk-other" name="other" rows="10" aria-describedby="form-talk-other-help">{{ other }}</textarea>

    <label for="form-talk-slides">Slides</label>
    <input id="form-talk-slides" type="text" name="slides" placeholder="Slides URL (if exists)" value="{{ slides }}">

    <p>
        <label for="form-talk-type">Talk Type</label>
        <select id="form-talk-type" name="type">
            {% for typeKey, displayType in talkTypes %}
                <option value="{{ typeKey }}" {% if type == typeKey %}selected {% endif %}>{{ displayType }}</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label for="form-talk-category">Talk Category</label>
        <select id="form-talk-category" name="category">
            {% for categoryKey, displayCategory in talkCategories %}
                <option value="{{ categoryKey }}" {% if category == categoryKey %}selected {% endif %}>{{ displayCategory }}</option>
            {% endfor %}
        </select>
    </p>

    <p class="mt-6">
        <input type="checkbox" name="level" value="mid" checked style="display:none;" id="form-talk-level-mid" />
        <input type="checkbox" name="level" value="advanced" id="form-talk-level-advanced" />
        <label for="form-talk-level-advanced">This is this an advanced talk or requires prior knowledge for attendees.</label>
    </p>

    <p>
        <input id="form-desired" name="desired" type="checkbox" value="1" {% if desired == '1' %}checked{% endif %}>
        <label for="form-desired">Of your {{ site.max_entries }} maximum submissions, is this one your best?</label>
    </p>

    <p>
        <input id="form-release" name="sponsor" type="checkbox" value="1" {% if sponsor == '1' %}checked{% endif %} required>
        <label for="form-release">By submitting your talk, you agree to sign and return the <a href="{{ site.av_release }}" target="_blank">AV Release form</a> & speaker agreement, and agree to our <a href="{{ site.coc_link }}" target="_blank">Code of Conduct</a>. <span class="text-red-dark font-bold" aria-hidden="true">*</span></label>
    </p>

    <p class="mt-8"><button type="submit" class="btn btn-brand">{{ buttonInfo }}</button></p>

    <p class="mt-8">This speaker application is covered by the WordPress.org <a href="https://wordpress.org/about/privacy/" target="_blank">Privacy Policy</a>. If you would like a copy of the information you’ve entered here, please <a href="mailto:support@wordcamp.org?Subject=Request%20WCUS%20Speaker%20Data" target="_top">email support at wordcamp.org.</a></p>
</form>
