<form action="{{ formAction }}" method="POST" enctype="multipart/form-data" role="form">
    {% if id is defined %}
        <input name="id" type="hidden" value="{{ id }}">
    {% endif %}

    <label for="form-user-email"><span class="text-red-dark font-bold" title="Required Field">*</span> Email</label>
    <input id="form-user-email" type="email" name="email" placeholder="you@example.com" value="{{ email | default('') }}" required>

    <label for="form-user-first-name"><span class="text-red-dark font-bold" title="Required Field">*</span> First Name</label>
    <input id="form-user-first-name" type="text" name="first_name" placeholder="First Name" value="{{ first_name | default('') }}" required>

    <label for="form-user-last-name"><span class="text-red-dark font-bold" title="Required Field">*</span> Last Name</label>
    <input id="form-user-last-name" type="text" name="last_name" placeholder="Last Name" value="{{ last_name | default('') }}" required>

    <label for="form-user-company">Company</label>
    <input id="form-user-company" type="text" name="company" placeholder="Company" value="{{ company | default('') }}">

    <label for="form-user-twitter">Twitter</label>
    <input id="form-user-twitter" type="text" name="twitter" placeholder="@twitter" value="{{ twitter | default('') }}">

    <label for="form-user-url">URL</label>
    <input id="form-user-url" type="text" name="url" placeholder="https://example.com" value="{{ url | default('') }}">

    <label for="form-user-bio">Speaker Bio</label>
    <textarea id="form-user-bio" name="speaker_bio" placeholder="Tell us about yourself ..." rows="5" aria-describedby="form-user-bio-help">{{ speaker_bio | default('') }}</textarea>
    <p id="form-user-bio-help">Speaker bio can be written using <a href="https://daringfireball.net/projects/markdown/basics" target="_blank" class="text-underline" rel="noopener noreferrer">markdown</a> to support links.</p>

    <label for="form-user-notes">Additional Notes</label>
    <textarea id="form-user-notes" name="speaker_info" placeholder="Any other information you feel the organizers should be aware of ..." rows="5" aria-describedby="form-user-notes-help">{{ speaker_info | default('') }}</textarea>
    <p id="form-user-notes-help">Speaker notes can be written using <a href="https://daringfireball.net/projects/markdown/basics" target="_blank" class="text-underline" rel="noopener noreferrer">markdown</a> to support links.</p>

    <p>
        <label for="form-user-photo" class="btn btn-brand cursor-pointer inline-block"><i class="fa fa-upload" aria-hidden></i><span class="ml-2">Upload Photo</span></label>
        <input type="file" id="form-user-photo" name="speaker_photo" placeholder="Photo at least 300px wide by 300px high" accept="image/jpg, image/jpeg, image/png" class="screen-reader-text" aria-describedby="form-user-photo-help">
    </p>
    <p id="form-user-photo-help">Photo should be square, and must be at least 300px wide by 300px high. JPG and PNG are the only accepted formats. Maximum File size is 5MB.</p>

    {% if speaker_photo is defined and speaker_photo is not empty %}
        <img src="{{ uploads(speaker_photo) }}" class="rounded-pill">
    {% endif %}

    {% if coc_link is defined and coc_link is not empty %}
    <div class="mb-4">
        <p>Code of Conduct</p>
        <input id="form-agree-coc" name="agree_coc" type="checkbox" value="agreed" > <label for="form-agree-coc">I agree to abide by the <a href="{{ coc_link }}" target="_blank" rel="noopener noreferrer">Code of conduct</a>.</label>
    </div>
    {% endif %}

    <p class="mt-8"><button type="submit" class="btn btn-brand">{{ buttonInfo }}</button></p>

    <p class="mt-8">This site is covered by the WordPress.org <a href="https://wordpress.org/about/privacy/" target="_blank">Privacy Policy</a>. If you would like a copy of the information you’ve entered here, please <a href="mailto:support@wordcamp.org?Subject=Request%20WCUS%20Speaker%20Data" target="_top">email support at wordcamp.org.</a></p>
</form>
