<form action="{{ formAction }}" method="POST" enctype="multipart/form-data" role="form">
    {% if id is defined %}
        <input name="id" type="hidden" value="{{ id }}">
    {% endif %}

    <label for="form-user-email"><span class="text-red-dark font-bold" title="Required Field">*</span> Email</label>
    <input id="form-user-email" type="email" name="email" placeholder="you@example.com" value="{{ email | default('') }}" required>

    <label for="form-user-first-name"><span class="text-red-dark font-bold" title="Required Field">*</span> First Name</label>
    <input id="form-user-first-name" type="text" name="first_name" placeholder="First Name" value="{{ first_name | default('') }}" required>

    <label for="form-user-last-name"><span class="text-red-dark font-bold" title="Required Field">*</span> Last Name</label>
    <input id="form-user-last-name" type="text" name="last_name" placeholder="Last Name" value="{{ last_name | default('') }}" required>

    <label for="form-user-company">Company</label>
    <input id="form-user-company" type="text" name="company" placeholder="Company" value="{{ company | default('') }}">

    <label for="form-user-twitter">Twitter</label>
    <input id="form-user-twitter" type="text" name="twitter" placeholder="@twitter" value="{{ twitter | default('') }}">

    <label for="form-user-url">URL</label>
    <input id="form-user-url" type="text" name="url" placeholder="https://example.com" value="{{ url | default('') }}">

    <p>The fields below support <a href="https://daringfireball.net/projects/markdown/basics" target="_blank" class="text-underline" rel="noopener noreferrer">markdown.</a></p>

    <label for="form-user-bio">Speaker Bio</label>
    <textarea id="form-user-bio" name="speaker_bio" placeholder="Tell us about yourself…" rows="5">{{ speaker_bio | default('') }}</textarea>

    <label for="form-user-notes">Additional Notes</label>
    <textarea id="form-user-notes" name="speaker_info" placeholder="" rows="5" aria-describedby="form-user-notes-help">{{ speaker_info | default('') }}</textarea>


    <p><strong>Avatar</strong></p>
    <div class="flex form-user-avatar">
      <img src="{{ avatar(email) }}" class="rounded-full border-4 border-white mr-8" />
      <p class="form-help">This avatar will be used on the WordCamp site on your speaker page. It's pulled from <a href="https://gravatar.com">gravatar.com,</a> for the email address <code>{{ email }}</code>. If you'd like to change it, go to <a href="https://en.gravatar.com/emails">gravatar.com/emails</a> to manage your emails & photos.</p>
    </div>

    {% if coc_link is defined and coc_link is not empty %}
        <label for="form-agree-coc">Code of Conduct</label>
        <input id="form-agree-coc" name="agree_coc" type="checkbox" value="agreed" > I agree to abide by the <a href="{{ coc_link }}" target="_blank" rel="noopener noreferrer">Code of conduct</a>.
    {% endif %}

    <p class="mt-8"><button type="submit" class="btn btn-brand">{{ buttonInfo }}</button></p>

    <p class="mt-8">This site is covered by the WordPress.org <a href="https://wordpress.org/about/privacy/" target="_blank">Privacy Policy</a>. If you would like a copy of the information you’ve entered here, please <a href="mailto:support@wordcamp.org?Subject=Request%20WCUS%20Speaker%20Data" target="_top">email support at wordcamp.org.</a></p>
</form>
