<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ site.title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700|Nunito:700,800" rel="stylesheet">
        <link href="{{ assets('css/app.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container mx-auto site-header flex {% if not active('homepage') %}border-b border-white{% endif %}">
            <nav role="navigation" aria-label="Speaker Information" class="flex items-center flex-1 info-navigation">
                <a href="{{ url('speaker_package') }}" class="{% if active('speaker_package') %}active{% endif %}">Speaker Information</a>
                <a href="{{ url('talk_ideas') }}" class="{% if active('talk_ideas') %}active{% endif %}">Talk Ideas</a>
            </nav>
            <h1 class="site-title font-normal m-0">
                <a href="{{ url('homepage') }}" style="background-image:url('{{ assets('img/logo.svg') }}');">
                    <span class="screen-reader-text">{{ site.title }}</span>
                </a>
            </h1>
            <nav role="navigation" aria-label="Account" class="flex items-center flex-1 account-navigation">
                {% if user is defined and user is not empty %}
                    <a href="{{ url('dashboard') }}" class="{% if active('dashboard') %}active{% endif %}">Dashboard</a>
                    {% if user_is_admin %}
                        <a href="{{ url('admin') }}" class="{% if active('admin') %}active{% endif %}">Admin</a>
                    {% endif %}
                    {% if user_is_reviewer is defined and user_is_reviewer %}
                        <a href="{{ url('reviewer') }}" class="{% if active('reviewer') %}active{% endif %}">Reviewer</a>
                    {% endif %}
                    <a href="{{ url('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url('login') }}">Login</a>
                    <a href="{{ url('user_new') }}">Signup</a>
                {% endif %}
            </nav>
        </div>

        {% block header %}
        {% endblock %}

        <main class="container mx-auto mt-8 flex wcus-full-width-mobile wcus-tablet-padding">
            <div class="flex-1 mr-16">{% block sidebar %}{% endblock %}</div>
            <div class="flex-3 w-full">
                {% include "_flash.twig" %}
                {% block content %}{% endblock %}
            </div>
        </main>

        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                    crossorigin="anonymous"></script>
        {% endblock %}

        {% if site.show_contrib_banner %}
        {% include "_forkme.twig" %}
        {% endif %}
    </body>
</html>
